html(lang="pt-BR")
  head
    - var name = 'parcel'
    block vars
    meta(charset="UTF-8")
    title #{name}_work #{titulo}
    meta(name="author" content="lucasferreiralimax")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(href="/assets/favicon.ico" rel="shortcut icon" type="image/x-icon")
    block head_page
    link(rel="stylesheet" href="~css/stylus.styl")
  body
    block content
    script(src="~js/file.js")
